.card {
    background: $card;
    box-shadow: 0 0 25px 0 rgba(black, 0.08);
    border: none;
    overflow: hidden;
    border-radius: var(--bs-border-radius);

    @if $rounded==false {
        border-radius: 0 !important;
    }

    &.no-shadow {
        box-shadow: none;
    }
}

.card-body {
    // Set your own card padding
    // --bs-card-spacer-y: 2rem;
    // --bs-card-spacer-x: 2rem;
}