.loading {
    .content-wrap {
        height: 100vh;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(130deg, $primary-l 0%, $primary-d 100%);
    z-index: 9999;
    pointer-events: none;
    transition: ease 1.5s opacity;

    img,
    .h2 {
        opacity: 0;
        animation: logo 2s linear 1s forwards;
        margin-bottom: 10px;
        max-width: 340px;
    }

    &.loaded {
        opacity: 0;
    }
}

@keyframes logo {
    100% {
        opacity: 1;
    }
}
